*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/caches
/.idea/libraries
/.idea/gradle.xml
/.idea/misc.xml
/.idea/copyright/profiles_settings.xml
/.idea/vcs.xml
/.idea/.name
/.idea/modules.xml
/.idea/dbnavigator.xml
/.idea/jarRepositories.xml
/.idea/codeStyles/Project.xml
.idea/
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
*/build
keystore.properties
app/debug
/build
/captures
.externalNativeBuild
.cxx
local.properties
